<p>
    <img src="https://drive.google.com/uc?export=download&id=1U9xDAuNq0g3J-fT6kvxHN88hxmQV0Fgj" alt="https://drive.google.com/uc?export=download&id=1U9xDAuNq0g3J-fT6kvxHN88hxmQV0Fgj" style="width:590px;height:3128px;">
</p>

<h2>Product description</h2>
<hr>

<p>This is a single channel radio streaming application for android devices.
    It has a very simple implementation for user friendly interface and smooth
    performance even on very low internet speed. The entire application has been
    designed on a single screen for simple user interface.</p>

<p>There are play, pause, stop options for controlling radio player.
    User can see all program names along with host name and can set alarm for
    favorite program.</p>

<p>Player stops and starts automatically when incoming or outgoing call event happens.
    User can control sound either from the app interface or pressing device volume buttons.</p>

<p>Recording option allows user to record any live program and using share option user
    can share app url.</p>

<p>If internet connection is not available then a snack bar prompts user for enabling
    internet connection.</p>

<br>

<h2>Features</h2>
<hr>

<img src="https://drive.google.com/uc?export=download&id=1OTIKTT51JG2v8d2Qx9xMjgV72OAvfiuT" alt="https://drive.google.com/uc?export=1OTIKTT51JG2v8d2Qx9xMjgV72OAvfiuT" style="width:180px;height:317px;">

<br>

<img src="https://drive.google.com/uc?export=download&id=1YnGQGCaDCAywZm5nSScTfhbZ776Jp8ki" alt="https://drive.google.com/uc?export=download&id=1YnGQGCaDCAywZm5nSScTfhbZ776Jp8ki" style="width:180px;height:317px;">

<br>


<p>
<h2>Here is the detailed feature list:</h2>
<hr>
<ul>
    <li>Single page application</li>
    <li>Supporting shoutcast and icecast</li>
    <li>Playing radio by live streaming</li>
    <li>Enable to play on slow internet speed with minimum delay</li>
    <li>Recording live program</li>
    <li>Play, pause, resume and volume control system</li>
    <li>Alarm facilities for upcoming program</li>
    <li>Interactive animation</li>
    <li>Auto detection of internet connection</li>
    <li>Material design</li>
    <li>App sharing option</li>
    <li>Controlling player from foreground notification</li>
    <li>Complete  Admob integration (banner and full-screen ad)</li>
</ul>
</p>

<br><br>

<p>
<h2>App Demo</h2>
<hr>
<table>
    <tr>
        <td>
            <a href="https://play.google.com/store/apps/details?id=com.mcc.radio" target="_blank">
                <img src="https://drive.google.com/uc?export=download&id=0B7emXSRpHMSTazcyTHZCWTV5Yzg" alt="https://play.google.com/store/apps/details?id=com.mcc.radio" style="width:250px;height:75px;">
            </a>
        </td>

    </tr>
</table>
</p>

<br><br>

<h2>App Video</h2>

<a href="https://youtu.be/y77cfb7OMX0" target="_blank">
    <img src="https://drive.google.com/uc?export=download&id=1kNSaPWlD4tQhNWiOt4iXRMquoZKgGvEv" alt="https://youtu.be/y77cfb7OMX0" style="width:615px;height:346px;">
</a>

<h2>Technical Documentation</h2>
<hr>
<p>
<ul>
    <li><a href="https://docs.google.com/document/d/1CkDHGN6nLoCs2u0UGylgkSqjwxFK4Id0O8Lh8UpftF0/edit?usp=sharing" target="_blank">Document</a></li>
</ul>
</p>



